<!-- app/views/users/show.html.erb -->
<p>User: <%= @user.username %></p>
<h3>Events Created by User:</h3>
<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>

<h4>Events Attending</h4>

<ul>
  <% @user.attended_events.each do |a_event| %>
    <li><%= link_to a_event.name,  a_event %></li> 
  <% end %>
</ul>


